    <div class="modal-header">
        <h3 class="modal-title"> For current Data Scientists!</h3>
    </div>
    <div class="modal-body">
        We have got some great things for students.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, consequat et bibendum nec, finibus nec elit. Donec aliquam vulputate leo ut euismod. Curabitur pulvinar mattis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla a enim eget enim volutpat scelerisque vitae at augue. Maecenas in dui a nisl laoreet vehicula. Vivamus consequat ante a suscipit convallis.

Ut a ante ac quam vestibulum sodales vitae eget lacus. Vivamus leo nisi, elementum quis ex eu, luctus faucibus sem. Pellentesque eu massa mattis erat sagittis euismod tincidunt et metus. Nulla in sollicitudin quam, et euismod est. Pellentesque ipsum quam, pretium vel nisl ac, volutpat aliquam leo. Nam eu porttitor erat. Curabitur viverra at nisl vel cursus. Nulla facilisi. Mauris congue ligula at congue mattis. Aenean egestas id lacus non imperdiet. Morbi vel congue ante. Vivamus volutpat tincidunt libero a tristique. Proin ac aliquet nulla, ut auctor ligula. Quisque faucibus aliquam hendrerit. Etiam laoreet consectetur tempus. Aenean lacinia ex quam, a posuere lorem ullamcorper sit amet.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
