<!DOCTYPE html>
<html ng-app="AFApp">
<head>
	<meta charset = "utf-8"/>
	<title>coming soon!</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/af-site.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome-4.4.0/css/font-awesome.css">
	<script type="text/javascript" src="components/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="components/angular.js"></script>
	<script type="text/javascript" src ="components/bootstrap.js"></script>
	<script type="text/javascript" src="components/ui-bootstrap-tpls-0.13.4.js"></script>
	<script type="text/javascript" src="js/multi-transclude.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
</head>
<body ng-controller="AFAppCtrl">
	<div id="header" ng-controller="AFHeaderCtrl" class="site-header">
		<div id="site-logo" class="site-logo-div"> 
			<img src="images/image7.jpg" class="site-logo">
		</div>
		<div id="site-title" class="site-title">
		<span>analyticsfreak - </span>
		<span class="logo-phrase">tame the data</span>
		</div>
		<div id="header-right-wrapper" class="header-right-wrapper">
			<ul class = "header-right">
				<a class="header-btn-signin" ng-click="openBlog()"> Blog </a>
				<a class="header-btn-signin" ng-click="openAbout()"> About </a>
				<a class="header-btn-signin" ng-click="open('login')">Login</a>
				<a class="header-btn-signin" ng-click="open('signup')">Sign up</a>
			</ul>
			<script type="text/ng-template" id="login.html">
			<div id="login-content-nav" class="login-content-nav">
				<div class="login-header-text">Log in to your account and unlock celebrations!</div>
				<div id="tab-panel-container" class="tab-panel-container">
					<div class="tabbar">
						<ul class ="ul-tabbar">
							<li id="login-tab" class="tab" onClick="setActive('login')"> Login</li>
							<li id="signup-tab" class="tab" onClick="setActive('signup')"> Sign up</li>
						</ul>
					</div>
					<div id="tab-content-area" class="tab-content-area" >
					</div>
					<div id="login" class="login-form-container">
							<form id="loginform" class="login-form" method="post" action="https://www.xyz.com/loginAuthService">
								<input id="user" class="login-input-field" name="user" placeholder="user/email" type="text">
								<input id="password" class="login-input-field" name="password" placeholder="password" type="password">
								<input id="signIn" name="signIn" class="signin-btn-submit" type="submit" value="Sign in to XYZ">
								<a href="passwordAssist ance.html" class="form-link">forgot password?</a>
							</form>
						</div>
						<div id="signup" class="signup-form-container">
							<form id="signupform" class="signup-form" method="post" action="https://www.xyz.com/loginAuthService">
								<input id="username" class="login-input-field" name="username" placeholder="username" type="text" onkeyup="keyupUsername(false)" onblur="keyupUsername(true)">
								<input id="email" class="login-input-field" name="emailid" placeholder="emailId" type="text" onkeyup="keyupEmail()" onblur="keyupEmail()">
								<input id="password1" class="login-input-field" name="password1" placeholder="password" type="password" onkeyup="keyupPassword()" onblur="keyupPassword()">
								<input id="password2" class="login-input-field" name="password2" placeholder="Re-enter password" type="password" onkeyup="keyupPassword2()" onblur="onBlurPassword2()">
								<input id="city" class="login-input-field" name="city" placeholder="city" type="text">
								<input id="signUp" name="signUp" class="signup-btn-submit" type="submit" value="Sign in to XYZ">
							</form>
						</div>
				</div>
				<div id="status" class="status">
					<span id="status-text" class="status-text"></span>
				</div>
			</div></script>
		</div>
	</div>
	<div id="main-content" ng-controller="mainContentCtrl" class="main-content">
		<div id="banner" class="banner" ng-controller="bannerCtrl" >
			<span class="banner-line-1">The path to a successful analytics career</span>
			<span class="banner-line-2">Get equipped - here you will find it all! </span>
			<div class="banner-btn-row">
				<button type="button" class="btn btn-success btn-1" ng-click="btn1()">Events</button>
				<button type="button" class="btn btn-success btn-2" ng-click="btn2()">Challenges</button>
			</div>
			<div class="banner-btn-row" ng-controller="dropDownCtrl">
				<div class="btn-group" dropdown is-open="isopen">
			      <button id="single-button" type="button" class="btn btn-success" dropdown-toggle ng-disabled="disabled">
			        I am a <span class="caret"></span>
			      </button>
			      <ul id="banner-dd-menu" class="dropdown-menu" role="menu" aria-labelledby="single-button">
			        <li role="menuitem"><a ng-click="open('studentModal')">Student</a></li>
			        <li role="menuitem"><a ng-click="open('proffessionalModal')">Working Proffessional</a></li>
			        <li role="menuitem"><a ng-click="open('DSModal')">Data Scientist</a></li>
			      </ul>
			      <script type="text/ng-template" id="studentModal.html">
			        <div class="modal-header">
			            <h3 class="modal-title">For Students!</h3>
			        </div>
			        <div class="modal-body">
			           We have got some great things for students.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, consequat et bibendum nec, finibus nec elit. Donec aliquam vulputate leo ut euismod. Curabitur pulvinar mattis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla a enim eget enim volutpat scelerisque vitae at augue. Maecenas in dui a nisl laoreet vehicula. Vivamus consequat ante a suscipit convallis.
			        </div>
			        <div class="modal-footer">
			            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			        </div>
			    </script>
			    </div>
			</div>
		</div>
		<div id="intro" ng-controller="introCtrl" class="intro-div">
			<div class="intro-title">What is Data Science?</div>
			<div class="intro-vid-div">
				<div class="video-container">
				      <div class="video-div">
				        <iframe width="350" height="200" ng-src="{{intro.lectureLink}}" frameborder="0 " allowfullscreen></iframe>
				    </div>
				</div>
			</div>
			<div class="intro-vid-text-wrapper">
				<div class="intro-vid-title">An introduction to Data Science</div>
				<div class="intro-vid-text"> This video talks about the vary basics of Data Science. It will act as a starting point to understanding what Data Science is all about. Also, find out a few things about analyticsfreak. Take a look at this short video to kick-start your career in the field!</div>
			</div>
		</div>
		<div id="how-div" ng-controller="howCtrl" class="how-div">
			<div class="intro-title">Steps Towards Success</div>
			<div class="how-to-segment">
				<div class="create-account"></div>
				<span class="how-to-segment-text">Sign up to get access all our services</span>
			</div>
			<div class="how-to-segment">
				<div class="study"></div>
				<span class="how-to-segment-text">Start practising problems or taking up challenges</span>
			</div>
			<div class="how-to-segment">
				<div class="mentored"></div>
				<span class="how-to-segment-text">Get mentored by some successful Data Scientists</span>
			</div>
			<div class="how-to-segment">
				<div class="get-a-job"></div>
				<span class="how-to-segment-text">Start with promising career in the analytics domain</span>
			</div>
		</div>
		<div id="challenges-news-wrapper" class="challenges-news-wrapper">
			<div id="challenges" ng-controller="challengesCtrl" class="challenges-div">
				<div class="challenge-title">Challenge Yourself </div>
				
				<div class="challenge-text-wrapper">
					<div class="intro-vid-text"> Treat yourself with some very interesting and insightful problems from the world of data sciences. Problems of varying diffuclty levels are provided to suit your skills and steadily enhance them by trying to push yourself to the limits!</div>
					<button type="button" class="btn btn-success btn-1" ng-click="btn1()">See Challenges</button>
				</div>
			</div>
			<div id="news" ng-controller="newsCtrl" class="news-div">
				<div class="news-title">Business World Happenings</div>
				<ul  class="news-ul">
					<li ng-repeat="item in news.items" class="news-item-li">
						<a class="news-a" ng-click="">{{item.text}}</a>
					</li>
			      </ul>
			</div>
		</div>
		<div id="videos-wrapper-div" ng-controller="videosCtrl" class="videos-wrapper-div">
			<div class="intro-title">Introductory videos - Tips and Concepts </div>
			<div ng-repeat="lecture in intro.lectures" class="video-container">
			    <div class="thumbnail">
			      <div class="video-div">
			        <iframe width="350" height="200" ng-src="{{getVideoLink(lecture.link)}}" frameborder="0 " ></iframe>
			      </div>
			    </div>
			</div>
			<button type="button" class="btn btn-success btn-1" ng-click="btn1()">Browse More Videos</button>
		</div>
	</div>
	<div id="footer" class="footer" ng-controller="footerCtrl">
		<div class="footer-div">
			<ul class="footer-ul">
				<li><a href="#"></a>How it works</li>
				<li><a href="#"></a>Join as a Mentor</li>
				<li><a href="#"></a>FAQ</li>
				<li><a href="#"></a>Privacy Policy</li>
			</ul>
		</div>
		<div class="footer-div">
			<ul class="footer-ul">
				<li><a href="#"></a>Contact</li>
				<li><a href="#"></a>About Us</li>
				<li><a href="#"></a>Careers</li>
				<li><a href="#"></a>Terms</li>
			</ul>
		</div>
		<div class="footer-div">
			<div class="social-media-div">
				<li>
					<a class="btn btn-fb" href="#">
  						<i class="fa fa-facebook-square fa-lg"></i> like us on fb
  					</a>
				</li>
				<li>
					<a class="btn btn-gplus" href="#">
	  					<i class="fa fa-google-plus-square fa-lg"></i> share on g+
	  				</a>
				</li>
  				<li>
  					<a class="btn btn-twitter" href="#">
	  					<i class="fa fa-twitter-square fa-lg"></i> follow us
	  				</a>
  				</li>
			</div>
		</div>
	</div>
</body>
</html>